<div class="p-1.5 min-w-full inline-block align-middle">
  <div class="border rounded-lg overflow-hidden dark:border-neutral-700">
    <table class="min-w-full table-fixed divide-y divide-gray-200 dark:divide-neutral-700">
      <thead class="bg-gray-50 dark:bg-neutral-700">
        <tr>
          <th scope="col" class="px-6 py-3 text-start text-lg font-semibold text-gray-700 uppercase dark:text-neutral-300 w-1/3">
            Tipo de arreglo
          </th>
          <th scope="col" class="px-6 py-3 text-start text-lg font-semibold text-gray-700 uppercase dark:text-neutral-300 w-1/3">
            Tipo de equipo
          </th>
          <th scope="col" class="px-6 py-3 text-start text-lg font-semibold text-gray-700 uppercase dark:text-neutral-300 w-1/3">
            Precio
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 dark:divide-neutral-700 bg-neutral-600 text-white">
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Diagnostico/revisión
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $10.530
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Formateo e instalación de Sistema Operativo sin BackUp
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO-CONSOLAS (PlayStation – Xbox)
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $36.855
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Limpieza Hardware + Formateo e instalación de Sistema Operativo + Programas Básicos + BackUp hasta 100gb + CAMBIO A SSD
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $42.065
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            BackUp de Datos cada 100gb Extras
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $10.530
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Inicialización de equipo nuevo (configuración + Programas Básicos)
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $31.590
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Instalación Programas OpenSource x1
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $8.424
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Instalación Programas comerciales x1 Provisto
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $10.530
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Instalación y configuración de Drivers
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $12.636
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Eliminación de malware
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $18.954
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Conexión Remota x 1 HS – Problemas Generales
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $8.424
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Visita a domicilio x1HS
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $18.954
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Visita a domicilio x1HS Emergencia Fuera de HS
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $36.855
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Clonado de disco sin errores SMART
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $31.590
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Clonado de disco con errores SMART
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $47.385
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Reparación de inicio de Windows – Restablecimiento de inicio de sesión
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC-Notebook-AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $27.821
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Armar PC básica desde 0
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $52.650
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Armar PC gamer desde 0
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $84.241
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Cambio de componentes hardware x1
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $15.795
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Limpieza de hardware + Cambio de Pasta térmica
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            PC
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $18.954
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Limpieza de hardware + Cambio de Pasta térmica
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            Notebook – AIO – CONSOLAS (PlayStation – Xbox)
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $31.590
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Cambio de Flex
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            NOTEBOOK
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $31.590
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Cambio de pantalla
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            NOTEBOOK
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $26.325
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Cambio de teclado
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            NOTEBOOK
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $15.795
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Despiece – Cambio de componentes internos
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            NOTEBOOK
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $42.120
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Hard Reset + Configuración tablets-celulares-iPads
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            Celulares-Tablets
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $21.060
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Configuración Router/Access Point In Site
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            Red
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $23.166
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Reflow
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            Hardware-Mother
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $68.446
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 text-sm font-medium w-1/3 whitespace-normal break-words">
            Cambio de pin de carga
          </td>
          <td class="px-6 py-4 text-sm font-medium w-1/3">
            Notebook – AIO
          </td>
          <td class="px-6 py-4 text-sm font-semibold w-1/3">
            $42.120
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
