<app-header class="pt-16" />
<app-navbar class="fixed top-0 left-0 w-full z-50  shadow-md" />

<div class="w-full text-center pr-4 py-5 bg-neutral-800">
  <p class="text-lg lg:text-xl text-[#FF6347] font-semibold italic leading-relaxed">
    ¿Necesitas reparar tu PC o Notebook? ¡Estoy para ayudarte! Ofrezco servicio técnico a domicilio en Florencio Varela y alrededores, 
    brindando soluciones rápidas y efectivas directamente en la comodidad de tu hogar. 
    ¡No dudes en contactarme y dejar tus dispositivos en manos de un profesional!
  </p>
</div>



<div class="bg-neutral-900">
 <!-- Título alineado a la derecha en pantallas grandes y centrado en móviles -->
  <div class="w-full text-center  pr-4">
   <h2 class="text-xl font-bold text-gray-300 border-b-2 border-[#FF6347] inline-block pb-1">
     Listado de precios de servicio técnico en reparación de PC y Notebook
   </h2>
  </div>

  <!-- Subtítulo -->
  <div class="w-full text-center pr-4">
    <h2 class="text-xl lg:text-2xl text-gray-300">
     Marzo 2025
    </h2>
  </div>

  <div class="flex justify-center py-5 font-sans">
   <div class="w-9/10 -m-1.5 overflow-x-auto">
      <app-servicios-yprecios/>
    </div>
  </div>
</div>

<app-footer />